<% provide(:title, 'Contact') %>
<h1>Contact Information</h1>
<p>
	This is the Contact page for the Sample Application!
	Learn more at the rails tutorial provided below!!
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
	contact us!
</p>
